$lattice-utils-enable-responsive: true !default;

$lattice-size-xs: 5px !default;
$lattice-size-sm: 10px !default;
$lattice-size-md: 20px !default;
$lattice-size-lg: 30px !default;
$lattice-size-xl: 50px !default;
