/*! lattice v3.1.0 | MIT License | https://github.com/alexchantastic/lattice.css */
@import 'variables';
@import 'mixins';

.container,
.grid,
.grid__col,
[class*="grid__col-"] {
  box-sizing: border-box;
}

.container,
.grid__col,
[class*="grid__col-"] {
  display: block;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

[class*="grid__col-"] {
  flex: 0 1 auto;
}

.grid__col {
  flex: 1 1 auto;
}

// Generate styles for default screens
@include lattice-generate('default');

@if $lattice-enable-responsive {
  // Generate styles for xlarge screens
  @include lattice-screen-xl-min {
    @include lattice-generate('xl');
  }

  // Generate styles for large screens
  @include lattice-screen-lg-max {
    @include lattice-generate('lg');
  }

  // Generate styles for medium screens
  @include lattice-screen-md-max {
    @include lattice-generate('md');
  }

  // Generate styles for small screens
  @include lattice-screen-sm-max {
    @include lattice-generate('sm');
  }

  // Generate styles for xsmall screens
  @include lattice-screen-xs-max {
    @include lattice-generate('xs');
  }
}
